.page-header
  - if user_signed_in? 
    = link_to new_procurement_path, class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      Создать закупку
  %h1 Закупки

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Название потребности
        %th Краткое описание
        %th Статус
        %th Бюджет
        %th Заказчик
        - if user_signed_in?
          %th Редактировать
          %th Удалить

    %tbody
      - @procurements.each do |procurement|
        %tr
          %td= link_to procurement.name, procurement 
          %td= link_to procurement.description, procurement
          %td= procurement.status
          %td= procurement.price
          %td= procurement.organization_id
          - if user_signed_in?
            %td= link_to 'Редактировать', edit_procurement_path(procurement)
            %td= link_to 'Удалить', procurement, data: { confirm: 'Удалить закупку безвозвратно?' }, method: :delete
