.page-header
  = link_to new_procurement_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Procurement
  %h1 Listing procurements

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Details
        %th
        %th
        %th

    %tbody
      - @procurements.each do |procurement|
        %tr
          %td= procurement.name
          %td= procurement.details
          %td= link_to 'Show', procurement
          %td= link_to 'Edit', edit_procurement_path(procurement)
          %td= link_to 'Destroy', procurement, data: { confirm: 'Are you sure?' }, method: :delete
