.page-header
  - if user_signed_in? 
    = link_to new_procurement_path, class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      New Procurement
  %h1 Listing procurements

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th Status
        %th Price
        %th Company
        - if user_signed_in?
          %th Edit
          %th Destroy

    %tbody
      - @procurements.each do |procurement|
        %tr
          %td= link_to procurement.name, procurement 
          %td= procurement.description
          %td= procurement.status
          %td= procurement.price
          %td= procurement.company_id
          - if user_signed_in?
            %td= link_to 'Edit', edit_procurement_path(procurement)
            %td= link_to 'Destroy', procurement, data: { confirm: 'Are you sure?' }, method: :delete
