!!!
%html
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:700,400&subset=cyrillic,latin,greek,vietnamese", :rel => "stylesheet"}/
    %link{:href => "/assets/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/assets/mobirise/css/style.css", :rel => "stylesheet"}/
    %link{:href => "/assets/mobirise/css/mbr-additional.css", :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title 24TENDER Rails Test App
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <haml_loud> javascript_include_tag &quot;https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js&quot;, &quot;https://oss.maxcdn.com/respond/1.4.2/respond.min.js&quot; </haml_loud>
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "24TENDER", "/", class: "navbar-brand"
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "/"} Home 
            %li  
              %a{:href => "#contact"} Contact   
          %ul.nav.navbar-nav.navbar-right  
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %span.label=current_user.email
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'Edit user info', edit_user_registration_path
                  %li
                    %a{:href => "#"} Another fucking shit
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li
                    = link_to 'Logout', destroy_user_session_path, :method => :delete 
            -else
              %li
                = link_to 'Login', new_user_session_path
              %li
                = link_to 'Sign Up', new_user_registration_path
              
    .container
      - flash.each do |name, msg|
        = content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do
          %button.close{"data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×
            %span.sr-only Close
          = msg
      = yield
    .navbar-fixed-bottom.row-fluid
      .navbar-inner
        %section#contacts1-0.mbr-section.mbr-section--relative.mbr-section--fixed-size{:style => "background-color: rgb(60, 60, 60);"}
          .mbr-section__container.container
            .mbr-contacts.mbr-contacts--wysiwyg.row
              .col-sm-4
                %img.mbr-contacts__img.mbr-contacts__img--left{:alt => "", :src => "/assets/images/24tender-logo387x114-141.png"}/
              .col-sm-8
                .row
                  .col-sm-4
                    %p.mbr-contacts__text
                    %strong ADDRESS
                    %br/
                    443086 Moskovskoe shosse
                    %br/
                    4A build 2 Samara, of. 223
                    %br/
                    Russia: 8 (800) 775-62-17
                    %br/
                    %br/
                    %br/
                  .col-sm-4
                    %p.mbr-contacts__text
                    %strong CONTACTS
                    %br/
                    Email: support@24tender.ru
                    %br>/
                    Moscow: +7 (499) 322-06-77
                    %br>/
                    Almaty:  +7 (727) 237-98-01
                    %br/
                    %br/
                  .col-sm-4
                    %p.mbr-contacts__text
                      %strong B2B PROCUREMENT PLATFORM
                    %p.mbr-contacts__text
                      %strong LLC 24TENDER Inc. 
                    %ul.mbr-contacts__list
                      %li BIN 1146311003695
                      %li
                      %br/
                      %li
                      %br/    